<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<tr th:each="s :${songs}">
		<!--<th scope="row" style="color: white;" th:text="${s.id}">100</th>-->
		<div class="container">
		<audio controls >
        <source th:src="@{'/songs/'+${s.filename}}">
   </audio> 
   	</div>
	</tr>

	
  <!-- <audio controls autoplay>
        <source th:src="@{/songs/1.mp3}">
   </audio> 
   <audio controls autoplay>
        <source th:src="@{/songs/2.mp3}">
   </audio>
   -->
  
</body>
</html>